@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#__next {
  height: 100%;
}

.calendar-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.calendar-content {
  display: flex;
  height: 100%;
  width: 100%;
}

.date-cell {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0;
  font-size: 0.5rem;
}

.text-xxs {
  font-size: 0.625rem;
}
.text-xxxs {
  font-size: 0.525rem;
}

.icon-extra-small {
  width: 12px;
  height: 12px;
}

.react-datepicker-wrapper {
  width: 100%;
}
